FRONTEND_ORIGIN=http://localhost:3000
MODEL_DIR=model
MAX_UPLOAD_MB=10
BACKBONE_WEIGHTS=imagenet

REQUIRE_AUTH=true

GOOGLE_APPLICATION_CREDENTIALS=C:/Users/user/Desktop/mammo_sense_ready/backend/firebase-service-account.json